@using ME.Popup
@using ME.Popup.Html;
@using ME.Popup.Html.Elements.Base
@using ME.Popup.Html.Elements.Concrete.FormElements
@using SandBox.Models
@model ErrorViewModel

<button id="BtnPopup">Popup Aç</button>

@(Html.ME().Form<TestModel>(f => {
	f.Selector = "#BtnPopup";
	f.Title = "Test Form Örneği";
	f.HtmlId = "formTest";
	f.Action = "/Test";
	f.Enctype = FormEnctype.FormUrlEncoded;
	f.Method = FormHttpMethod.Post;
	f.ColumnCount = 2;
	f.SubmitButton = "Kaydet";
	f.CancelButton = "İptal Et";

	f.AddGroup("TestSelect", new Select<HtmlTags>(), 0);	
	f.AddGroup("TestInput", new Input(InputTypes.Text, "Test", "place", true), 0);
}))